.toolbarContainer .toolbar .toolbarBlock[data-v-7889e5b4] {
    display: flex;
    
     background-color: transparent; 
    
    padding: 10px 20px;
    border-radius: 6px;
    color: #bcbcbc;
     box-shadow: none;
     border: 0;
    
    margin-right: 20px;
},



.sidebarContainer[data-v-58b0a121] {
    position: fixed;
    right: -300px;
    top: 100px;
    bottom: 0;
    width: 300px;
    
    background-color: #666;
    
    border-left: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    transition: all .3s;
},

.navigatorContainer[data-v-cb676eca]{
    padding: 0 12px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: transparent!important;
    border-radius: 5px;
    opacity: .8;
    height: 44px;
    font-size: 12px;
    display: flex;
    align-items: center;
},

.countContainer[data-v-806811fa] {
    padding: 0 12px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    
     background: transparent;
    
    border-radius: 2px;
    opacity: .8;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    display: flex;
}


.toolbarContainer .toolbar .toolbarBtn .icon[data-v-7889e5b4] {
    
    background: transparent!important;
    border: 1px solid #3232322b;
    
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c30; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff8a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.countContainer[data-v-f5dfc212] {
    padding: 0 12px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: transparent;
    border-radius: 2px;
    opacity: .8;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    display: flex;
}